@import "~bootstrap/scss/bootstrap";
div.displays {
    float: right;
    height: 6%;
    width: 50%;
}
div.left-display {
    position: fixed;
    height: 4%;
    width: 50;
    color: blue;
}
.header {
    height: 300px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 100px;
    font-style: italic;
    font-weight: bolder;
}
body {
    color: yellow;
    background: blue;
    background-image: url("http://www.clker.com/cliparts/V/T/T/E/G/H/baby-bottle-blue-yellow-md.png");
    // image go here
    padding: 10px;
    margin: 5px;
}
